<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TrueThat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6F21E4E21F1657A1004FFA6F</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>6F4826281F1284F50066394D</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>6F48263C1F1284F50066394D</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>6F4826471F1284F50066394D</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
